*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    font-size: 62.5%;
}
body{
    margin: 4px ;
}
.library{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 140px;
    max-width: 100%;
    background-color: antiquewhite;
    font-family: "Bangers",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.2rem;
}
.addingBook{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    min-height: 400px;
}
.add-book{
    font-family: "Shadows Into Light",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 2.0rem;
    background-color: cornsilk;
    padding:32px;
    border-radius: 16px;
    border: 6px solid palevioletred;
}
form{
    font-size: 1.6rem;
    width: 480px;
    margin: 0 auto;
    border: 2px solid lightpink;
    border-radius: 4px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.book-toggle{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

