*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    font-size: 62.5%;
}
body{
    margin: 4px ;
}
.library{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 14rem;
    max-width: 100%;
    background-color: antiquewhite;
    font-family: "Bangers",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.2rem;
}
header{
    display: grid;
    grid-column: 1/2;
    grid-template-columns: repeat(1,auto-fit,minmax(32rem,1fr));
}
.addingBook{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    min-height: 400px;
}
.add-book{
    font-family: "Shadows Into Light",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 2.0rem;
    background-color: cornsilk;
    padding:32px;
    border-radius: 16px;
    border: 6px solid palevioletred;
}
.add-book:hover{
    background-color:springgreen;
}
form{
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    width: 48rem;
    margin: 0 auto;
    border: 1px solid greenyellow;
    border-radius: 4px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
label{
    display: inline-block;
    width: 8rem;
    text-align: start;
}
input[type="text"]:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(221, 216, 216, 0.25);
}